---
import Layout from '../../organisms/Layout.astro';
import lib from 'zenn-markdown-html';
import { getAllPosts } from '../../content/blog';
import { center } from '../../../styled-system/patterns';
import { css } from '../../../styled-system/css';
import { Link } from '../../style/recipes/link.css';

import 'zenn-content-css';

// @ts-ignore ref: https://github.com/zenn-dev/zenn-editor/issues/432#issuecomment-1436233439
const markdownToHtml = lib.default ? lib.default : lib;

export interface Props {
  title: string;
  description: string;
  tags: string[];
  date: string;
  body: string;
}

export async function getStaticPaths() {
  const posts = await getAllPosts();
  return posts.map((post) => {
    return {
      params: {
        slug: post.slug
      },
      props: {
        title: post.title,
        description: post.description,
        tags: post.tags,
        date: post.date,
        body: post.body
      }
    };
  });
}

const { title, description, tags, date, body } = Astro.props;
const slug = Astro.params.slug;
const html = markdownToHtml(body);
---

<Layout title={title} description={description}>
  <body>
    <div
      class={center({
        flexDirection: 'column',
        h: 'full',
        mb: 10,
        gap: 3
      })}
    >
      <h1 class={css({ textStyle: 'h1' })}>{title}</h1>
      <p class={css({ textStyle: 'caption' })}>
        {tags.map((item) => `#${item} `)} -
        {
          new Intl.DateTimeFormat('en-US', {
            dateStyle: 'long'
          }).format(new Date(date))
        }
      </p>
    </div>

    <div class="znc">
      <Fragment class="post-body" set:html={html} />
    </div>

    <div
      class={css({
        mt: 5,
        display: 'flex',
        justifyContent: 'center'
      })}
    >
      <a
        href={`https://github.com/m1sk9/portfolio/edit/main/src/content/posts/${slug}.md`}
        target="_blank"
        class={Link({ textStyle: 'caption' })}
      >
        GitHub で編集を提案する ↗
      </a>
    </div>
    <style>
      .znc {
        font-family: 'LINE Seed';
        font-size: 16px;
      }
    </style>
  </body>
</Layout>
